.header {
  padding: 4rem 6rem 2rem;
  flex: 1;
  display: flex;
  gap: 50px;
  margin-left: 0px;
  margin-top: -40px;
  background-color: rgb(8, 43, 27);
  align-items: center;
  color: rgb(206, 233, 202);
  text-shadow: blanchedalmond;
}
.icon {
  width: 40px;

  /* transform: translate(-75px, 22px); */
}
.cart {
  position: absolute;
  right: 30px;
}
