.section {
  display: flex;

  background-color: rgb(221, 238, 221);
  margin-top: 0px;
  padding: 30px 20px;
  font-weight: 600;
  font-size: 26px;
}

.productDetails {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  color: '18, 120, 74';
}

.productDetail {
  margin-top: 10px;
}

.productsImage {
  border-radius: 5px;
}
