.section {
  display: flex;

  background-color: cornflowerblue;
  margin-top: 30px;
  padding: 30px 20px;
  font-weight: 600;
  font-size: 26px;
}

.productDetails {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}

.productDetail {
  margin-top: 10px;
}

.productsImage {
  border-radius: 5px;
}
