.section {
  display: flex;

  background-color: white;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px 100px;
  font-weight: 500;
  font-size: 26px;
  border-color: rgba(193, 219, 186, 0.589);
  border-style: solid;
  border-radius: 10px;
}
.section:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(-4px);
  transition: transform 500ms;
  cursor: pointer;
}

.productDetails {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: baseline;
  justify-content: center;
  color: '18, 120, 74';
}

.productDetail {
  margin-top: 20px;
  margin-left: -500px;
  color: rgb(8, 43, 24);
}

.productPrice {
  margin-top: 20px;
  margin-left: -500px;
  color: rgb(8, 43, 24);
  font-weight: 300;
  font-size: 20px;
}

.productsImage {
  border-radius: 5px;
  width: 40%;
  filter: grayscale(10%);
  filter: blur(0px) grayscale(5%);
}
