.container {
  border-style: double;
  padding: 50px;
}
.image {
  display: flex;
  width: 50%;
  border-radius: 5px;
  margin-top: 60px;
}

.overview {
  display: flex;
  font-family: 'nowayregular', Arial, sans-serif;
  font-size: 20px;
  line-height: 21px;
  color: rgb(8, 43, 24) 3;
  /* margin-left: 740px; */
  /* margin-top: -300px; */
  /* margin-bottom: 100px; */
  padding: 10px 70px;
}

.allSingleProducts {
  display: flex;
  width: 100%;
  color: rgb(8, 43, 24) 3;

  border-radius: 5px;
  margin-bottom: 50px;
}
.productDetailsSingleProduct {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  justify-content: flex-end;
  font-size: 30px;
  /* margin-left: 500px;
  margin-top: -300px;
  margin-bottom: 400px; */
  color: rgb(8, 43, 24) 3;
}

.description {
  padding: 20px 126px;
  margin-top: 20px;
}
.button {
  margin-top: 20px;
  padding: 25px 10px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 45px;
  width: 240px;
  font-size: 18px;
}
.button:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 400ms;
  cursor: pointer;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  justify-content: center;
}
